h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}
.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.button-order {
    cursor: pointer;
}

.paddinf-for-section {
    padding-top: 60px;
    padding-bottom: 60px;
}
 .accent-colors {
     color: rgba(77, 90, 229, 1);
 }
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;

     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }
 .container {
    max-width: 320px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
 
 }
 /*====MOBILE HEADER STYLES====*/
.menu {
    display: none;
}
.adres-tel {
    display: none;
}
.logo {
    display: flex;
    color: #2E2F42;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.span-header {
    color:  #4D5AE5;
        font-family: Raleway;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.mobile-menu-container {
 display: block;
    position: relative;
}
.mobile-menu-open-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    stroke: black;
}
/*вопрос по бордеру*/
.mobile-menu-close-btn {
    position: absolute;
    flex-direction: column;
    top: 0x;
    right: 0;
    width: 24px;
    height: 24px;   
    background-color: transparent;       
       padding-top: 21px;
       padding-left: 256px;
       padding-bottom: 24px;
        line-height: 0;
        stroke: black;
        border: 1px;
            border-radius: 50%;
            border-color: rgba(46, 47, 66, 1);  
}

.mobile-menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    transform: translateX(100%);
    transition: transform 250ms linear;
}

.mobile-menu-wrapper.is-open {
    transform: translateX(0%);
}
.mobile-menu-link {
    color:  #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        padding-left: 16px;
       

}

.mobile-adress-list-link {
    color: #434455;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        padding-left: 16px;
        gap: 24px;
}
.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-header {
    padding-top: 16px;
    padding-bottom: 16px;
}

 /*=====/MOBILE HEADER STYLES====*/

 @media screen and (min-width:768px) {
    .container {
        max-width: 736px;
    }
    
 }

 /*====TABLET HEADER STYLES====*/
 /*====/TABLET HEADER STYLES====*/
 @media screen and (min-width:1158px) {
     .container {
         max-width: 1158px;
     }
 }
  /*====DESKTOP HEADER STYLES====*/
  /*====/DESKTOP HEADER STYLES====*/
 